table, td, th {
  border: 1px solid black;
  text-align: center;
}
  
table {
  border-collapse: collapse;
  width: 100%;
}

html,body{
  height: 100%;
  width: 100%;
  place-items: center;
	background-color: #dbc6c6;
}

tr:nth-child(even) {background-color: #C6DBDA;}

tr:hover {background-color: #97c1a9;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#516166 ;
  color: white;
  text-align: center;
  width: 10%;
}

.wrapper{
  overflow:hidden;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  top:20%;
  left:10%;
  position: absolute;
  height: auto;
  width: 80%;
  /* height120px;width:120px;border:1px solid #ccc;overflow:auto; */
}
.title{
  text-align: center;
}

#row{
  left: 0%;
}

form div [type=text]{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 24px;
}

form div [type=submit]{
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 18px;
} 